<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="overflow: hidden">
    <webview
      id="webview"
      preload="../controller/login.js"
      src="https://passport2.chaoxing.com/login?newversion=true&refer="
      style="position: absolute; width: 100%; height: 100%"
    ></webview>
    <!-- <webview
      id="webview"
      preload="../controller/login.js"
      src="https://passport2.chaoxing.com/login?newversion=true&refer="
      style="position: absolute; width: 100%; height: 100%"
    ></webview> -->
  </body>
</html>
